    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }} — {{ site.title }}</title>
    <link type="text/css" rel="stylesheet" media="screen" href="/assets/css/style.css" />
    <link type="text/css" rel="stylesheet" media="print" href="/assets/css/print.css" />
    
    <!-- Icons, Theme-Farbe -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="icon" href="/favicon.svg" sizes=any type=image/svg+xml>
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#FDFAED" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="#FDFAED">
    <meta name="msapplication-TileColor" content="#FDFAED">

    <!-- SEO, Social Media, etc. -->
    {% include head-seo.html %}
    <script src="/assets/js/script.js"></script>