<link rel="apple-touch-icon" sizes="180x180" href="/assets/images/icons/apple-touch-icon.png?v=xQ7mz5d8pP">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/images/icons/favicon-32x32.png?v=xQ7mz5d8pP">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/images/icons/favicon-16x16.png?v=xQ7mz5d8pP">
<link rel="manifest" href="/assets/images/icons/site.webmanifest?v=xQ7mz5d8pP">
<link rel="mask-icon" href="/assets/images/icons/safari-pinned-tab.svg?v=xQ7mz5d8pP" color="#fdfaed">
<link rel="shortcut icon" href="/assets/images/icons/favicon.ico?v=xQ7mz5d8pP">
<meta name="msapplication-TileColor" content="#fdfaed">
<meta name="msapplication-config" content="/assets/images/icons/browserconfig.xml?v=xQ7mz5d8pP">
<meta name="theme-color" content="#fdfaed">

<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="#FDFAED">