    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }} — {{ site.title }}</title>
    <link type="text/css" rel="stylesheet" media="screen" href="/assets/css/style.css" />
    <link type="text/css" rel="stylesheet" media="print" href="/assets/css/print.css" />
    
    <!-- Icons, Theme-Farbe -->
    {% include head-icons.html %}

    <!-- SEO, Social Media, etc. -->
    {% include head-seo.html %}

    <!-- Matomo / Piwik -->
    {% include head-matomo.html %}

    <!-- Scripts -->
    <script src="/assets/js/script.js"></script>