  <meta property="og:title" content="{{ page.title }} — {{ site.title }}" />
  <meta property="og:locale" content="{% if page.lang == 'en' %}en-US{% else %}de-DE{% endif %}" />
  <meta property="og:type" content="website" />
  {%- if page.twitter != true %}
  {%- if page.description %}
  <meta name="description" content="{{ page.description }}" />
  <meta property="og:description" content="{{ page.description }}" />
  {% else %}
  <meta name="description" content="{{ site.description }}" />
  <meta property="og:description" content="{{ site.description }}" />
  {% endif %}
  <meta name="twitter:card" content="summary_large_image" />
  <meta property="twitter:image" content="{{ site.url | append: site.imageurl }}twitter_summary-large_default" />
  <meta property="twitter:image:alt" content="{{ site.title }}" />
  <meta property="og:image" content="{{ site.url | append: site.imageurl }}twitter_summary-large_default" />
  <meta property="og:image:width" content="1024">
  <meta property="og:image:height" content="512">
  {%- else %}
  <meta name="description" content="{{ site.description }}" />
  <meta property="og:description" content="{{ site.description }}" />
  <meta name="twitter:card" content="{{ site.twitter.card}}" />
  {%- endif %}

  <link rel="canonical" href="{{ site.url | append: page.url }}" />
  <link rel="me" href="https://twitter.com/mmautor" />
  <meta property="og:url" content="{{ site.url}}/{{ page.url }}" />
  <meta property="site_name" content="{{ page.title }} — {{ site.title }}" />
  <meta property="twitter:title" content="{{ page.title }} — {{ site.title }}" />
  <meta name="twitter:site" content="{{ site.data.social.twitter.handle }}" />

  <!-- Linked Data -->
  <script type="application/ld+json">
  {
    "@context":"https://schema.org",
    "@graph": [
      {% if page.layout == "home" %}
      {
        "@type":"EducationalOrganization",
        "@id":"{{ site.url }}/#organization",
        "name":"{{ site.title }}",
        "url":"{{ site.url }}",
        "sameAs":[
          {%- for media in site.data.social %}
          "{{ media.url }}"{%- if forloop.last != true %},{%- endif %}
          {%- endfor %}
        ],
        "logo":{
          "@type":"ImageObject",
          "@id":"{{ site.url }}/#logo",
          "inLanguage":"de-DE",
          "url":"{{ site.url | append: site.imageurl | append: "logo_social-512.png" }}",
          "width": 512,
          "height": 512,
          "caption":"{{ site.alternateName }} - {{ site.title }}"
        },
        "image":{
          "@id":"{{ site.url }}/#logo"
        },
        "alumni": [
          {% assign all_students = site.data.students | sort %}
          {%- for jahrgang in all_students reversed -%}
          {%- for student in jahrgang[1].students %}
          {
            "@type": "Person",
            "name": "{{ student.name }}"{% if student.references %},
            "sameAs": [
              {%- for reference in student.references %}"{{ reference.url }}"{%- if forloop.last == false %},{% endif -%}{% endfor -%}
            ]{% endif %}
          }{%- if forloop.last == false %},{% endif -%}
          {% endfor -%}{%- if forloop.last == false %},{%- endif -%}
          {%- endfor -%}
        ]
      },
      {
        "@type": "WebSite",
        "@id": "{{ site.url }}/#website",
        "name": "{{ site.title }}",
        "alternateName": "{{ site.alternateName }}",
        "image": {
          "@type": "ImageObject",
          "url": "{{ site.url | append: site.imageurl | append: "logo_social-512.png" }}",
          "width": "512",
          "height": "512"
        },
        "provider": {
        },
        "sameAs": [
          {%- for media in site.data.social %}
          "{{ media.url }}"{%- if forloop.last != true %},{%- endif %}
          {%- endfor %}
        ]
      },
      {
        "@type":"Course",
        "@id": "{{ site.url }}/#program",
        "name": "{{ site.seo.program.programType }} {{ site.seo.program.name }}",
        "description": "{{ site.description }}",
        "provider": {
          "@type": "CollegeOrUniversity",
          "name": "{{ site.seo.program.provider.name }}",
          "sameAs": "{{ site.seo.program.provider.url }}"
        }
      },
      {% endif %}
      {
        "@type":"WebPage",
        "@id":"{{ site.url }}{{ page.url }}#webpage",
        "url":"{{ site.url }}{{ page.url }}",
        "name":"{{ page.title }} - {{ site.title }}",
        "isPartOf": {
          "@id":"{{ site.url }}/#website",
          "@type": "WebSite"
        },
        "breadcrumb":{
          "@type":"BreadcrumbList",
          "itemListElement":[
            {
              "@type":"ListItem",
              "position":1,
              "item": { 
                "@type":"WebPage",
                "@id":"{{ site.url }}/#webpage",
                "url":"{{ site.url }}",
                "name":"{{ site.alternateName }}"
              }
            }{% if page.layout != "home" and page.layout != "project" %},{
              "@type":"ListItem",
              "position":2,
              "item":{
                "@type":"WebPage",
                "@id":"{{ site.url }}{{ page.url }}/#webpage",
                "url":"{{ site.url }}{{ page.url }}",
                "name": "{{ page.title }}"
              }
            }{% endif %}
            {% if page.layout == "project" %},
            {
              "@type":"ListItem",
              "position":2,
              "item":{
                "@type":"WebPage",
                "@id":"{{ site.url }}/showroom/#webpage",
                "url":"{{ site.url }}/showroom",
                "name": "{{ page.title }}"
              }
            },
            {
              "@type":"ListItem",
              "position":3,
              "item":{
                "@type":"WebPage",
                "@id":"{{ site.url }}{{ page.url }}/#webpage",
                "url":"{{ site.url }}{{ page.url }}",
                "name": "{{ page.title }}"
              }
            }
            {% endif %}
          ]
        },
        "inLanguage":"de-DE",
        "potentialAction":[
          { 
            "@type":"ReadAction",
            "target":["{{ site.url }}{{ page.url }}"]
          }
        ]
      }
      {%- if page.layout == "project" %}
      ,{
        "@type": "CreativeWork",
        "name": "{{ page.title }}",
        "url": "{% if post.ext_url %}{{ post.ext_url }}{% else %}{{ site.url | append: page.url }}{% endif %}"
      }
      {% endif -%}
    ]
  }
  </script>