---
layout: base
---

<!-- Teaser -->
<section class="teaser">
    {% include teaser-schmuck.html %}
    {% assign pages_list = site.posts | where:"lang", page.lang %}
    {% assign highlights = pages_list | where:"highlight", true %}
    {% assign languagecode = site.languages.possiblities[page.lang].slug %}
    <div id="card-slider" class="showroom splide">
        <div class="splide__track">
            <ul class="splide__list">
                {% for node in highlights %}
                <li class="splide__slide">
                    <a href="{{ site.url | append: languagecode | append: node.url }}"><img data-splide-lazy="{{ site.url | append: site.imageurl | append: node.image }}" alt="{{ node.imageAlternativeText }}"></a>
                        <div>
                            <strong>{{ node.title }}</strong>
                            <p>{{ node.highlight_logline }}</p>
                        </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div id="storefront" class="showroom">
        <img id="storefront-img">
        <strong id="storefront-title"></strong>
        <p id="storefront-description">
        </p>
    </div>
    <script src="{{ site.url }}/assets/js/showroom.js"></script>
</section>

<!-- Content -->
<main>
    {{ content }}
    {% include footer.html %}
</main>