---
layout: base
---

<!-- Teaser -->
<section class="teaser">
    <svg class="schmuck" viewBox="0 0 200 100" width="100vw" height="auto">
        <polygon points="0,0 200,0 200,100 180,70 120,30 0,0" fill="purple" />
    </svg>
    {% assign pages_list = site.posts | where:"lang", page.lang %}
    {% assign highlights = pages_list | where:"highlight", true %}
    <div id="card-slider" class="showroom splide">
        <div class="splide__track">
            <ul class="splide__list">
                {% for node in highlights %}
                <li class="splide__slide">
                    <a href="{{ site.url | append: "/" | append: page.lang | append: node.url }}"><img data-splide-lazy="{{ site.url | append: site.imageurl | append: node.image }}" alt="{{ node.imageAlternativeText }}"></a>
                        <h4>{{ node.title }}</h4>
                        <div>
                            {{ node.description }}
                        </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div id="storefront" class="showroom">
        <img id="storefront-img" loading="lazy">
        <h4 id="storefront-title"></h4>
        <p id="storefront-description">
        </p>
    </div>
    <script src="{{ site.url }}/assets/js/showroom.js"></script>
</section>

<!-- Content -->
<main>
    {{ content }}
    {% include footer.html %}
</main>