---
layout: base
---

<section class="teaser">
    {% include teaser-schmuck.html %}

    <figure class="collage" style="z-index: 30; margin: 2em;">
        <svg viewBox="0 0 500 500" style="overflow: visible;">
            <defs>
                <style>
                    #booksnpapers image:hover, #vicedog image:hover, a image:hover, a image:focus {
                        transform: scale(1);
                        opacity: 1;
                    }
                    #booksnpapers image, #vicedog image, a image {
                        transform: scale(0.9);
                        opacity: 0.7;
                        transform-origin: 50% 50%;
                        transition: transform .5s, opacity .5s;
                    }
                    /*#digitaltalks image {
                        transform-origin: 50% 50%;
                        transition: transform .7s;
                    }
                    #digitaltalks image:hover {
                        -webkit-transform: scaleX(-1);
                        transform: scaleX(-1);
                    }*/
                    #vicedog:hover image:nth-child(1) {
                        display: block;
                    }
                </style>
            </defs>
            <image x="50" y="50" width="400" height="400" xlink:href="{{ site.url }}/assets/images/collages/studium/webex-video-seminar.png">
                <title>WebEx-Videowand: Seminar 2020</title>
            </image>
            <a href="https://mmz-halle.de/?utm_source=mmautor.net">
                <image x="0" y="50" width="500" height="200" xlink:href="{{ site.url }}/assets/images/collages/studium/mmz-gebaeude.png" style="mix-blend-mode:multiply;">
                    <title>Gebäude: Mitteldeutsches Multimedia Zentrum, kurz: MMZ</title>
                </image>
            </a>
            <a href="https://www.vice.com/de/article/wjwvwzapplausfabrik-follower-kaufen-instagram-influencer-werden?utm_source=mmautor.net" id="vicedog">
                <g >
                    <image x="220" y="30" width="160" height="300" xlink:href="{{ siteurl }}/assets/images/collages/studium/vice-likefabrik-hund.png"style="mix-blend-mode: lighten;">
                        <title>Vice-Recherche zu Likefabriken</title>
                    </image>
                    <image x="220" y="30" width="160" height="300" xlink:href="{{ siteurl }}/assets/images/collages/studium/dog-face.png"style="mix-blend-mode: hard-light; display: none;">
                        <title>Hund schaut dir ins Gesicht</title>
                    </image>
                </g>
            </a>
            <a href="https://booksnpapers.de/unbias-the-news?utm_source=mmautor.net" id="booksnpapers">
                <image x="120" y="30" width="160" height="300" xlink:href="{{ site.url }}/assets/images/collages/studium/booksnpapers-unbias-the-news.png"style="mix-blend-mode: hard-light;">
                    <title>@booksnpapers: Unbias the News</title>
                </image>
            </a>
            <a href="https://github.com/soerenengels/mmautor.net">
                <image x="300" y="200" width="300" height="150" xlink:href="{{ site.url }}/assets/images/collages/studium/html-css-code-editor-website.png"style="mix-blend-mode: screen;">
                    <title>Symboldbild: Codeeditor</title>
                </image>
            </a>
            <a href="https://goo.gl/maps/syG2CJHi6gxhgzs88">
                <image x="0" y="240" width="270" height="250" xlink:href="{{ site.url }}/assets/images/collages/studium/smartphone-marktplatz-pokemon-go.png">
                    <title>Hand hält Smartphone, welches Pokemon Go geöffnet hat. Zusehenist ein Pikachu auf dem halleschen Marktplatz.</title>
                </image>
            </a>
            <g>
            <a href="https://www.routledge.com/Production-Studies-Cultural-Studies-of-Media-Industries/Mayer-Banks-Caldwell/p/book/9780415997966?utm_source=mmautor.net" id="digitaltalks">
                <image x="100" y="350" width="300" height="150" xlink:href="{{ site.url }}/assets/images/collages/studium/digital-talks-caldwell.png">
                    <title>Digital Talks: Caldwell</title>
                </image>
            </a>
            <a href="#">
                <image x="120" y="410" width="300" height="100" xlink:href="{{ site.url | append: site.imageurl }}collages/studium/pronomen.png">
                    <title>Pronomen</title>
                </image>
            </a>
        </g>
        </svg>
    </figure>
</section>

<main>
    {{ content }}
    {% include footer.html %}
</main>